* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.thanh-tren {
    background: #ff8c1a;
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding: 6px 0;
}

/* HEADER */
.header {
    background: #fff;
    border-bottom: 1px solid #eee;
	
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
	
}

.logo img {
    height: 50px;
}

.menu{
    text-decoration: none; 
    color: red;            
    font-weight: bold;
}
	
}

.mucmenu {
    color: #0a8f3c;
	
	
}

.mucmenu:hover {
    color: #ff8c1a;
	
}

.hotline {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.hotline-item {
    color: #fff;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    text-align: center;
}

.vt {
    background: #ff3b30;
}

.th {
    background: #ff3b30;
}
.container {
    width: 1200px;
    margin: auto;
}

.timkiem input {
    width: 100%;
    padding: 12px;
    margin: 20px 0;
    font-size: 16px;
}

.tieude {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.danhsachxe {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.car-card {
    background: white;
    width: 300px;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.car-card img {
    width: 100%;
    border-radius: 5px;
}

.car-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

/* Thông tin */
.info {
    display: flex;
    gap: 10px;
    font-size: 14px;
    color: #555;
}

/* Giá */
.price {
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.location {
    font-size: 14px;
    color: gray;
}
.footer {
    background-color: #111; /* Màu đen Porsche */
    color: #fff;
    padding: 60px 0 20px;
    font-family: 'Arial', sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-col {
    flex: 1;
    min-width: 250px;
    margin-bottom: 30px;
}

.footer-col h3, .footer-col h4 {
    color: #d7ba89; /* Màu vàng kim nhẹ */
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-col p {
    line-height: 1.6;
    color: #bbb;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #bbb;
    text-decoration: none;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 5px;
}

.contact-item {
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #bbb;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 40px;
    padding-top: 20px;
    font-size: 0.8rem;
    color: #666;
}